.Banner{
    height: 600px;
    margin-bottom: 70px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    animation : Change 12s infinite;
}
@keyframes Change{
    0%{ background-image: url("../Assets/wallpaperflare.com_wallpaper\ \(1\).jpg");}
    30%{ background-image: url("../Assets/wallpaperflare.com_wallpaper\ \(2\).jpg");}
    70%{ background-image: url("../Assets/wallpaperflare.com_wallpaper\ \(3\).jpg");}
    100%{ background-image: url("../Assets/wallpaperflare.com_wallpaper\ \(1\).jpg");}
}